
/* xxl */
@media(max-width:1400px) {
    .containerl {
        padding: 0 15px;
    margin: 0 auto;
        max-width: 1320px;
    }
}
/*xl*/
@media(max-width:1399px) {
    .container{
        max-width: 1140px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .col-xl-3{
        width: 25%;
    }
    .col-xl-6{
        width: 50%;
    }
}
/*lg*/
@media(max-width:1199px) {
    .container{
        max-width: 960px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .col-lg-4{
        width: 33.33%;
    }
    .col-lg-6{
        width: 50%;
    }
    
}
/*md*/
@media(max-width:991px){
    .container{
        max-width: 720px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .col-md-4{
        width: 33.33%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-12{
        width: 100%;
    }
    /* Header Section Starts */
    header .navbar 
    {
        position: relative;
        padding: 0 0;
        padding: 20px 0;
    }
    header .navbar nav
    {
        position: absolute;
        top: 100%;
        padding-top: 1rem;
        right: 0;
        background-color: #fff;
        border-radius: 0 0 5px 5px;
    }
    header .navbar nav ul
    {
        flex-direction: column;
    }
    
    header .navbar .toggler
    {
        display: block;
    }
    
}
/*sm*/
@media(max-width:767px){
    .container{
        max-width: 540px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-12{
        width: 100%;
    }
}
/*xs*/
@media(max-width:576px){
    .container{
        max-width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }

    .col-xs-12{
        width: 100%;
    }
}