:root {
    --theme-Heading: #cc9900;
    --theme-white: #fff;
    --theme-text: #8c8c8c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}

html body {
    font-family: 'Open Sans SemiCondensed';
    margin: 0;
    padding: 0;
    width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

ul li {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

/*class*/
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-3{
    width: 25%;
    padding: 15px;
}
.col-5{
    width: 41.65%;
    padding: 15px;
}
.col-6{
    width: 50%;
    padding: 15px;
}
.col-7{ 
    width: 58.33%;
    padding: 15px;
}
.col-12{
    width: 100%;
    padding: 15px;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-item-center {
    align-items: center;
}
.text-center{
    text-align: center;
}
.mt-1{
    margin-top: 1rem;
}
.mb-2{
    margin-bottom: 1.5rem;
}
.pt-0{
    padding-top: 0;
}
.pb-0{
    padding-bottom: 0;
}
.pl-20{
    padding-left: 40px;
}

/*HEADER SECTION START*/
header {
    background-color: var(--theme-white);
    position: sticky;
    top: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
}

header .navbar {
    padding: 2.5rem 0;
}

header .navbar .logo {
    color: var(--theme-Heading);
    font-size: 46px;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
}

header .navbar .logo:hover{
    color: #0275d8;;
}

header .navbar ul {
    margin-left: auto !important;

}

header nav ul li {

    padding: 0 15px;
   
}

header .navbar nav ul li a {
    padding: 0.5rem 1.5rem;
    font-size: 19px;
    font-weight: 300;
    transition: all 0.2s ease-in-out;

}

header .navbar nav ul li .active {
    padding: 10px 40px;
    border-radius: 6px;
    color: black;
    color: var(--theme-white);
    background-color: var(--theme-Heading);
}

header .navbar nav ul li a:hover {
    border-radius: 6px;
    color: black;
    color: var(--theme-white);
    background-color: var(--theme-Heading);
}


header .navbar .toggler {
    display: none;
    padding: .5rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    border: 1px solid transparent;
    border-radius: .25rem;
    background: var(--theme-white);
    border-color: var(--theme-Heading);
    color: var(--theme-Heading);
}

/*HEADER SECTION END*/

/*HERO SECTION START*/
.hero{
    background-image: url('../images/tm-home-img.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

/*HERO SECTION END*/

/*INTRODUCTION SECTION START*/
.introduction {
    padding: 4rem 0;
}

.introduction .intro-heading h2{
    color: var(--theme-Heading);
    margin-bottom: 1rem;
    line-height: 1.4;
    font-size: 35px;
    font-weight: 500;
}
.introduction .intro-heading p{
    font-size: 22px;
    line-height: 2;
    margin-bottom: 4rem;
    font-weight: 200;
    color: var(--theme-text);
}

.introduction .card .card-img img{
    margin-bottom: 1.5rem;
}

.introduction .card  h3{
    color: var(--theme-Heading);
    line-height: 1.5;
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 1rem;
}

.introduction .card p{
    font-size: 20px;
    line-height: 2;
    font-weight: 200;
    color: var(--theme-text); 
    margin-bottom: 1.5rem;
}

.introduction .card a,
.bolg article a{
    color: var(--theme-white);
    background-color: var(--theme-Heading);
    border: none;
    border-radius: 5px;
    display: inline-block;
    padding: 15px 40px;
    transition: all 0.3s ease-in-out;
}

.introduction .card a:hover,
.bolg article a:hover{
    background-color: #977100;
}

/*INTRODUCTION SECTION END*/

/*BOLG SECTION START*/
.bolg h2{
    color: var(--theme-Heading);
    margin-bottom: 1rem;
    line-height: 1.4;
    font-size: 27px;
    font-weight: 400;
}
.bolg img{
    margin-bottom: 1.5rem;
}

.bolg p{
    font-size: 21px;
    line-height: 2;
    font-weight: 200;
    color: var(--theme-text); 
    margin-bottom: 1.5rem; 
}

.bolg h3{
    color: var(--theme-Heading);
    margin-bottom: 1rem;
    line-height: 1.4;
    font-size: 27px;
    font-weight: 400;
}

.bolg .categories ul li a,
.bolg .links ul li a{
    font-size: 19px;
    font-weight: 200;
    color: #006699;
    line-height: 2.8;
    text-decoration: underline;
    transition: all 0.3s ease;
}
.bolg .categories ul li a:hover,
.bolg .links ul li a:hover{
    text-decoration: none;
}

.bolg h4{
    color: var(--theme-Heading);
    margin-top: 1.5rem;
    line-height: 1.4;
    font-size: 28px;
    font-weight: 400;
}
.bolg .post img{
    width: 225px;
    margin-top: 2rem;
}

.bolg .post-body{
    border-bottom: 1px solid #ccc;
    margin-left: 1.5rem;
}

.bolg .post-body h4{
    color: var(--theme-Heading);
    margin-bottom: 1rem;
    line-height: 1;
    font-size: 22px;
    font-weight: 400;
}

.bolg .post-body p{
    font-size: 17px;
}
/*BOLG SECTION END*/

/*FOOTER SECTION START*/
footer {
  color: #c6c6c6;
  background-color: #191919;
  background-image: url(../images/classic-pattern-bg.png);
  font-size: 1rem;
  padding-top: 40px;
  padding-bottom: 20px;
  margin: 0 8px;
}

footer .content-box h3,
footer .links h3,
footer .footer-content h3 {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--theme-heading);
  line-height: 1.4;
  margin-bottom: 30px;
}

footer .content-box .gray-bg {
  font-weight: 300;
  background-color: #CCCCCC;
  color: black;
  padding: 30px 20px 20px;
}

footer .content-box .gray-bg p {
  line-height: 1.9;
  margin-top: 0;
  margin-bottom: 1rem;
}

footer .content-box .gray-bg p strong {
  font-weight: 700;
}

footer .links ul {
  padding-left: 0;
}

footer .links ul li a {
  font-weight: 300;
  color: #CCCC66;
  line-height: 2.8;
  text-decoration: underline;
  transition: all 0.3s ease;
}

footer .links ul li a:hover {
  text-decoration: none;
}

footer .footer-content p {
  margin-bottom: 30px;
}

footer .footer-content hr {
  border-top: 2px solid #CCCCCC;
  margin-top: 1rem;
  margin-bottom: 30px;
}

footer .footer-content .foot-btn {
   color: var(--theme-white);
    background-color:#2e2e2e;
    border: none;
    border-radius: 5px;
    display: inline-block;
    padding: 15px 40px;
    transition: all 0.3s ease-in-out;
}

footer .footer-content .foot-btn:hover {
  background-color: #515050;
}

footer .footer-content img {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}
/*FOOTER SECTION END*/



